* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Ser till så att bilderna får korrekt storlek och deras rörelse animeras */
/* När ni sätter intervallen efter vilken pokemonen får sin nya position bör den intervallen överensstämma med tiden här. 3s. */
img {
    width: 300px;
    transition: all 3s linear;
}

body {
    display:grid;
    background-image: url("../assets/background.png");
    background-size: cover;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.form-wrapper {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 8px;
    padding: 1rem;

    .form{
    display:grid;
    justify-items: center;
    gap: 0.5rem;

        .form__input{
            width: 80%;
            padding: .25rem;
            border-radius: 8px;
        }

        .form__input--error {
            outline: 2px  solid red;
        }
        
        .form__submit-btn{
            width: 80%;
            padding: 0.5rem;
            border: none;
            border-radius: 8px;
            color: yellow;
            background-color: red;
        }
    }

    .form__gender-wrapper--error {
        border: 2px solid red;
    }


}

.game-field {
    width: 100vw;
    height: 100vh;
}














.d-none{
    display:none
}